################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WytSky.Mobile.Maui.Skoola
/WytSky.Mobile.Maui.Skoola/bin/Debug
